<h1><%=@data1[:branch]%> Dojo</h1>


<p>First Name: <%=@user[:first_name] %></p>
    <p>Last_name: <%=@user[:last_name] %></p>
    <p>Email: <%=@user[:email] %></p>
    <%= link_to 'Home', root_path %>
     <%= link_to 'Edit', "/dojos/" + @dojoschool.to_s + "/students/" + @user[:id].to_s + "/edit"%>