<h1> Secrets </h1>

	<%@secret.each do |secrets| %>
			<% if secrets.user_id == session[:id]  %>
				<p><%= secrets.content %> user: <%= secrets.user_id %></p>
				<form action = "/secrets/destroy/<%= secrets.id %>" method = "post">
					<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
					<input type = "submit" value = "Delete Secret" id = "create">
				</form>
			<% else %>
				<p><%= secrets.content %> user: <%= secrets.user_id %></p>
			<% end %>

			<p><%= secrets.likes.length %> likes</p>

			<% if (Like.where(user_id: session[:id], secret_id: secrets.id)).empty? %>
				<form action = "/secrets/likes/<%= secrets.id %>" method = "post">
					<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
					<input type = "submit" value = "Like" id = "like">
				</form>
			<% end %>

			<% if not (Like.where(user_id: session[:id], secret_id: secrets.id)).empty? %>
				<form action = "/secrets/unlikes/<%= secrets.id %>" method = "post">
					<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
					<input type = "submit" value = "Unlike" id = "unlike">
				</form>
			<% end %>
	<% end %>